*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
    height: 75px;
    background-color: #2C3E50;
}
.content-header a{
    text-decoration: none;
    padding: 5px;
    color: white;
}

.jumbo , .about{
    background-color: aquamarine;
}

.content-jumbo{
    height: 250px;
    background-color: rgb(0, 169, 112);
    border: 1px dashed black;
}




.top-fot{
    background-color: #3A546D;
}

.bottom-fot{
    background-color: #2C3E50;
}

.content-top-fot{
    text-align: center; 
}



.content-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.content-wrap::before {
    position: absolute;
    top: calc(50% - 1px);
    width: 50%;
    content: '';
    Background-color: black;
    height: 3px;
}
  
  .star {
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
  }

.p-facebook{
    padding: 0.5rem 0.75rem ;
}