*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
    height: 75px;
    background-color: #2C3E50;
}
header a{
    text-decoration: none;
    padding: 5px;
    color: white;
}

.jumbo , .about{
    background-color: #1ABC9C;
}

.jumbo img{
    width: 200px;
}

.container-small{
    width: 80%;
    margin: 0 auto;
}


.top-fot{
    background-color: #3A546D;
}

.bottom-fot{
    background-color: #2C3E50;
}

.content-top-fot{
    text-align: center; 
}



.content-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.content-wrap::before {
    position: absolute;
    top: calc(50% - 1px);
    width: 50%;
    content: '';
    Background-color: black;
    height: 3px;
}
  
  .star {
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

.p-facebook{
    padding: 0.5rem 0.75rem ;
}

.bg-white{
    background-color: white;
}

.color-invert{
    filter: invert();
}

.jumbo .content-wrap::before , .about .content-wrap::before {
    position: absolute;
    top: calc(50% - 1px);
    width: 50%;
    content: '';
    Background-color: white;
    height: 3px;
}