*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
    height: 75px;
    background-color: #2C3E50;
}
.content-header a{
    text-decoration: none;
    padding: 5px;
    color: white;
}

.jumbo , .about{
    background-color: aquamarine;
}

.content-jumbo{
    height: 250px;
    background-color: rgb(0, 169, 112);
    border: 1px dashed black;
}



.card-content{
    background-color: lightcoral;
    height: 250px;
    border: 1px dashed black;
    border-radius: 5px;
}

.content-form{
    height: 300px;
    background-color: green;
}

.top-fot{
    background-color: blue;
}

.bottom-fot{
    background-color: rgb(6, 6, 70);
}

.content-top-fot{
    background-color: grey;
    border: 1px dashed black;
    height: 100px;
}

.content-bottom-fot{
    background-color: grey;
    border: 1px dashed black;
    height: 75px;
}

.content-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.content-wrap::before {
    position: absolute;
    top: calc(50% - 1px);
    width: 50%;
    content: '';
    Background-color: rgb(1, 126, 1);
    height: 3px;
}
  
  .star {
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(1, 126, 1);
    background-color: white;
  }